{% load crispy_forms_tags %}
<div class="post-content">
    <div class="text-content"> 
        <strong class="comment-name">{{ comment.name|default:"Anonymous" }}</strong>
        <p class="comment-content">{{ comment.content }}</p>
    </div>
    
    {% if comment.media_file and comment.is_video %}
        <div class="image-container">
            <video 
                controls 
                playsinline
                preload="metadata"
                data-post-id="{{ comment.id }}"
            >
                <source src="{{ comment.media_file.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    {% elif comment.media_file and comment.is_image %}
        <div class="image-container">
            <img src="{{ comment.media_file.url }}" alt="Comment image" loading="lazy">
        </div>
    {% endif %}
</div>

<div class="comment-content blockquote" 
{% if comment.parent_comment %}
    data-parent-id="{{comment.parent_comment.id}}"
{% endif %}>
    {% if comment.parent_comment %}
        <div class="parent-comment">
            <div class="parent-comment-content">
                <span class="reply-to">Re: {{ comment.parent_comment_content }} -- <strong>{{ comment.parent_comment_name|default:"Anonymous" }}</strong></span>
            </div>
            {% if comment.parent_comment_media_file %}
                {% if comment.parent_comment_is_video %}
                    <div class="video-container">
                        <video controls autoplay muted loop playsinline>
                            <source src="{{ comment.post_media_file_url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                {% elif comment.parent_comment_is_image %}
                    <div class="image-container">
                        <img src="{{ comment.parent_comment_media_file.url }}" alt="{{ comment.parent_comment_name }}" loading="lazy">
                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
    <div class="parent-post preview {% if comment.parent_comment %}stacked{% endif %}" id="parent-post-{{comment.post_id}}">
        <div class="text-content">
            <h2 class="post-title">
            Re:<a 
                {% if comment.post_id %}
                    href="{% url 'post-detail' comment.post_id %}"
                    hx-get="{% url 'hx-get-parent-post' comment.post_id %}" 
                {% endif %}
                    hx-target="#parent-post-{{comment.post_id}}" 
                    hx-swap="outerHTML"
                    hx-trigger="click">
                {{ comment.post_title }}
            </a>
            </h2>
            <p class="parent-content">{{comment.post_content|truncatewords:30}}</p>
        </div>
        <div class="image-content">
            {% if comment.post_media_file_url or comment.post_image_url %}
                <div class="image-container">
                    <a href="{% url 'post-detail' comment.post_id %}"
                        hx-get="{% url 'hx-get-parent-post' comment.post_id %}" 
                        hx-target="#parent-post-{{comment.post_id}}" 
                        hx-swap="outerHTML"
                        hx-trigger="click">
                        {% if comment.post_image %}
                            <img src="{{ comment.post_image_url }}" alt="{{ comment.post_title }}" loading="lazy">
                        {% elif comment.post_media_file_url and comment.post_is_video %}
                            <video controls autoplay muted loop playsinline>
                                <source src="{{ comment.post_media_file_url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        {% elif comment.post_media_file_url and comment.post_is_image %}
                            <img src="{{ comment.post_media_file_url }}" alt="{{ comment.post_title }}" loading="lazy">
                        {% endif %}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>  
</div>

<div class="menu">
    <p><em>{{ comment.created_on }}</em></p>
    <a href="javascript:void(0);" id="toggle-reply-{{comment.id}}" class="toggle-reply">Reply</a>
</div>
    <div id="reply-form-{{comment.id}}" class="reply-form" style="display: none;">
        <p class="reply-form-skeleton"
            id="reply-form-skeleton-{{comment.id}}"
            hx-get="/hx/get-reply-form-html/{{comment.id}}"
            hx-target="#reply-form-{{comment.id}}"
            hx-trigger="revealed"
            hx-swap="innerHTML">
            Loading reply form...
        </p>
</div>