{% load crispy_forms_tags %}
<form id="comment-form-{{ comment_id }}"

      {% if post_type == 'Post' and post_id %}
        hx-post="{% url 'add-comment' post_id %}"
        hx-target="#post-list #comments-list-{{ post_id }}"
      {% elif post_type == 'Comment' and comment_id %}
        hx-post="{% url 'reply-comment' comment_id %}"
        hx-target="#post-list"
      {% endif %}

      hx-swap="afterbegin"
      hx-trigger="submit"
      hx-indicator="#upload-progress-{{ post_id }}"
      hx-on::after-request="this.reset()"
      onsubmit="return false;">

    {% csrf_token %}
    {{ comment_form|crispy }}
    <button type="submit" class="btn btn-primary">Submit</button>

    <div id="upload-progress-{{ post_id }}" class="htmx-indicator">
        <div class="progress">
            <div class="progress-bar" role="progressbar"></div>
        </div>
        <div class="progress-text">Uploading...</div>
    </div>

</form>

