{% load crispy_forms_tags %}
<div id="comment-{{post.id}}" class="comment item">
    <div class="post-content">
        <div class="text-content"> 
            <strong class="comment-name">{{ post.name|default:"Anonymous" }}</strong>
            <p class="comment-content">{{ post.content }}</p>
        </div>
        
        {% if post.media_file and post.is_video %}
            <div class="image-container">
                <video 
                    controls 
                    playsinline
                    preload="metadata"
                    data-post-id="{{ post.id }}"
                >
                    <source src="{{ post.media_file.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        {% elif post.media_file and post.is_image %}
            <div class="image-container">
                <img src="{{ post.media_file.url }}" alt="Comment image" loading="lazy">
            </div>
        {% endif %}
    </div>

    <div class="comment-content blockquote" 
    {% if post.parent_comment %}
        data-parent-id="{{post.parent_comment.id}}"
    {% endif %}>
        {% if post.parent_comment %}
            <div class="parent-comment">
                <div class="parent-comment-content">
                    <span class="reply-to">Re: {{ post.parent_comment_content }} -- <strong>{{ post.parent_comment_name|default:"Anonymous" }}</strong></span>
                </div>
                {% if post.parent_comment_media_file %}
                    {% if post.parent_comment_is_video %}
                        <div class="video-container">
                            <video controls autoplay muted loop playsinline>
                                <source src="{{ post.post_media_file_url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    {% elif post.parent_comment_is_image %}
                        <div class="image-container">
                            <img src="{{ post.parent_comment_media_file.url }}" alt="{{ post.parent_comment_name }}" loading="lazy">
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
        <div class="parent-post preview {% if post.parent_comment %}stacked{% endif %}" id="parent-post-{{post.post_id}}">
            <div class="text-content">
                <h2 class="post-title">
                Re:<a href="{% url 'post-detail' post.post_id %}"
                      hx-get="{% url 'hx-get-parent-post' post.post_id %}" 
                      hx-target="#parent-post-{{post.post_id}}" 
                      hx-swap="outerHTML"
                      hx-trigger="click">
                    {{ post.post_title }}
                </a>
                </h2>
                <p class="parent-content">{{post.post_content|truncatewords:30}}</p>
            </div>
            <div class="image-content">
                {% if post.post_media_file_url or post.post_image_url %}
                    <div class="image-container">
                        <a href="{% url 'post-detail' post.post_id %}">
                            {% if post.post_image %}
                                <img src="{{ post.post_image_url }}" alt="{{ post.post_title }}" loading="lazy">
                            {% elif post.post_media_file_url and post.post_is_video %}
                                <video controls autoplay muted loop playsinline>
                                    <source src="{{ post.post_media_file_url }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            {% elif post.post_media_file_url and post.post_is_image %}
                                <img src="{{ post.post_media_file_url }}" alt="{{ post.post_title }}" loading="lazy">
                            {% endif %}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>  
    </div>
    
    <div class="menu">
        <p><em>{{ post.created_on }}</em></p>
        <a href="javascript:void(0);" id="toggle-reply-{{post.id}}" class="toggle-reply">Reply</a>
    </div>
    <div id="reply-form-{{post.id}}" class="reply-form" style="display: none;">
        <form id="comment-form-{{ post.id }}" method="post" action="{% url 'reply-comment' post.id %}">
            {% csrf_token %}
            {{ comment_form|crispy }}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

<script>
    console.log(`Comment {{post.id}} ({{post.content}}) has post media file url: {{post.post_media_file_url}}`)


</script>