<div id="post-{{post.id}}" class="post item {% if nested %}nested{% endif %}">
    {% if not nested %}
    <div class="preview" id="{% if nested %}nested-{% endif %}post-preview-{{post.id}}"
        {% if nested %}style="display: none;"{% endif %}>
        {% include 'blog/preview.html' with post=post %}
    </div>
    {% endif %}
    <div class="detail {% if nested %}nested{% endif %}" id="{% if nested %}nested-{% endif %}post-detail-{{ post.id }}" 
        {% if not nested %}style="display: none;"{% endif %}>
        {% include 'blog/detail.html' with post=post nested=True %}
    </div>

    {% if not nested %}
    <div class="menu post-menu">
        <div class="left-links">
            <a href="javascript:void(0);" class="toggle-link" id="toggle-link-{{post.id}}">Expand</a>
            <a href="javascript:void(0);" id="copy-link-{{post.id}}" class="share-btn copy-link">Copy Link</a>
            <span id="copy-message" style="display: none;">Link copied!</span>
        </div>
        <button id="toggle-comments-{{ post.id }}" 
                class="toggle-comments" 
                data-post-id="{{ post.id }}"
                {% if htmx %}
                {% endif %}
                >
            ↩ <span class="comment-count">({{ post.comments_total|default:0 }})</span>
        </button>
    </div>
    {% endif %}
    <div id="comment-section-{{ post.id }}" class="comment-section">
        {% if htmx %}
        <div hx-get="/hx/get-post-comment-section/{{ post.id }}/"
            hx-trigger="revealed"
            hx-target="#comment-section-{{ post.id }}"
            hx-swap="innerHTML">
            <span id="comment-section-indicator-${post.id}" class="htmx-indicator">
                <div class="spinner-border spinner-border-sm text-secondary" role="status">
                    <span class="visually-hidden"></span>
                </div>
            </span>
        </div>
        {% else %}
        <!-- Unique Comment Section for Each Post -->
            <div id="comments-container-{{ post.id }}" 
                data-has-comments="{{ post.has_comments }}" 
                class="comments-container" style="display: none;">
                <div id="comments-list-{{ post.id }}">
                    {% for comment in post.recent_comments %}
                        {% include 'blog/partials/inline_comment.html' with comment=comment %}
                    {% endfor %}
                </div>

                <!-- Comment Form -->
                {% include 'blog/partials/comment_form.html' with post_id=post.id comment_form=comment_form post_type='Post' %}
            </div>
        {% endif %}
    </div>
</div>
