.DS_Store
.env
*.pyc
/.spite/
/staticfiles/
db.sqlite3
*.sqlite3
__pycache__/

# PostgreSQL-related files

# Ignore PostgreSQL data directory (if running locally)
pgdata/
data/

# Ignore PostgreSQL dumps or backup files
*.sql
*.sql.gz
*.dump
*.backup

# Ignore log files
pg_log/
postgresql.log
logs/django_debug.log

# Ignore any temporary files created during development
*.pid
*.start
*.conf.tmp

# Ignore any connection credentials or environment files
.env
*.env
config.json

logs/

spite_migration/

*.gz
*.log
*.txt
*.csv
*.json
*.yaml
*.yml
*.ini
*.cfg
*.conf
*.md
*.rst
