{% extends 'artworks/base.html' %}
{% load static %}
{% block name %}Your Name Here{% endblock %}
{% block content %}
      <main class="max-w-4xl mx-auto p-6">
      
    <h2 class="text-4xl font-bold mb-4">Are you an artist?</h2>
    <h2 class="text-4xl font-bold mb-4">Are you tired of paying for Cargo Collective or monthly hosting for your website?</h2>
  <h2 class="text-4xl font-italic mb-4">Are you looking for a simple and easy hosting solution that you can add work to?</h2>
  <p class="text-4xl mb-4">Look no further. <span class="font-bold">So Trusted Network Solutions</span> is the place for you.</p>
    <img src="{% static 'hacker.webp' %}">
    
    </main>
  
  
    <footer class="text-center text-sm text-gray-500 mt-10 py-4">
      © 2025 So Trusted Network Solutions  </footer>
 {% endblock %} 