{% extends 'artworks/base.html' %}
{% load static %}

{% block title %}Owen Sussman | Portfolio{% endblock %}

{% block content %}
<h2 class="text-3xl font-bold mb-4"></h2>

<nav class="mb-6 space-x-4">
  <a href="{% url 'portfolio' %}" class="text-blue-600 hover:underline">All</a>
  {% for cat in categories %}
    <a href="{% url 'portfolio_by_category' cat.slug %}"
       class="{% if current_category and current_category.slug == cat.slug %}font-bold{% endif %} hover:underline">
       {{ cat.name }}
    </a>
  {% endfor %}
</nav>


{% include 'artworks/artwork_detail_window.html' %}

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 items-center justify-center">
  {% for artwork in artworks %}
    <div class="artwork-card cursor-pointer">
      <img id="artwork-{{ artwork.slug }}" src="{{ artwork.image.url }}" alt="{{ artwork.title }}" class="w-full h-auto"
      hx-get="{% url 'hx_get_artwork_detail' artwork.slug %}?category={% if current_category %}{{ current_category.slug }}{% endif %}" 
      hx-target="#artwork-detail-content" 
      hx-swap="innerHTML"
      hx-trigger="click"  
      hx-on::after-request="document.getElementById('artwork-detail').classList.remove('hidden');">
    </div>
  {% empty %}
    <p>No artworks yet!</p>
  {% endfor %}
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
