body {
    font-family: 'Crimson Text', serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #000000;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    max-width: 1100px;
    padding-left: 0;    
    padding-right: 0;
}
.header {
    line-height: 1.2;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}
.header h1 {
    font-family: 'Princess Sofia', cursive;
    margin: 0;
    font-size: 44px;
}
.logo {
    width: 100%;
    height: auto;
    max-width: 500px;
}

.header p, .header a {
    font-family: 'Prata', serif;
    font-size: 20px;
    margin-top: -5px;
    margin-bottom: 0px;
    filter: blur(1px);
}

.header a.email {
    color: rgb(90, 191, 225)
}

.content {
    padding-left:15px;
    padding-right:15px;

    background-color: antiquewhite;
}
.content p {
    margin-top: 5px
}
.text-box {
    font-size: 20px;
}
.center-box {
    text-align: center;
}
.home .flexbox {
    display: flex;
    justify-content: space-between;
}

.home .text-content {
    width: 55%;
}
.center-highlight {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
.home .image-content {

    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    margin-bottom:10px;

    border: 2px solid #000;
}
.home .image-container img {
    
    max-height:200px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.home .image-container img:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.shadow-container {
    position:relative;
    overflow:hidden;
}

.shadow {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    animation: passShadow 3s linear infinite;
}

@keyframes passShadow {
    0% {
        left: -100%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: 100%;
    }
}

.outlined-box {
    border: 2px solid #000;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    
}
.cta {
    text-align: center;
    margin-top: 15px;
    border-top: 2px solid #000;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.cta p {
    margin: 10px 0;
    font-size: 30px;
    color: #ffffff;
    text-shadow: -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, 2px 2px 0 #000000;
}

.cta a{
    animation: flicker 1s infinite alternate;
}

.cta a, .spite-counter { 
    background-color: #000000;
    border-radius: 5px;
    font-weight: bold;
    font-size: 36px;
    color: rgb(255, 255, 255);
}

.spite {
    background-color: antiquewhite;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.spite-counter{
    animation: fire 2s infinite alternate;
}

@keyframes flicker {
    0% {
        background-color: #ff0000;
    }
    50% {
        background-color: #ffffff;
    }
    100% {
        background-color: #ff0000;
    }
}


@keyframes fire {
    0% {
        text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000, 0 0 25px #ff0000, 0 0 30px #ff0000, 0 0 35px #ff0000;
        color: #ff0000;
    }
    50% {
        text-shadow: 0 0 10px #ff4500, 0 0 20px #ff4500, 0 0 30px #ff4500, 0 0 40px #ff4500, 0 0 50px #ff4500, 0 0 60px #ff4500, 0 0 70px #ff4500;
        color: #ff4500;
    }
    100% {
        text-shadow: 0 0 5px #ff8c00, 0 0 10px #ff8c00, 0 0 15px #ff8c00, 0 0 20px #ff8c00, 0 0 25px #ff8c00, 0 0 30px #ff8c00, 0 0 35px #ff8c00;
        color: #ff8c00;
    }
}

.form-container {
    margin: 15px;
    max-width: 560px;
    padding: 15px;
    border: 2px solid #000;
    font-weight: bold;
    font-size: 20px;
    background-color: antiquewhite;
}

.feed {
    background-color: antiquewhite;
    padding: 15px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    width:100%;
    height:auto;
}

.feed > div {
    width: 100%;
}


.post {

    border-bottom: 2px solid #000;
    padding-left: 20px;
}

.posts .flexbox {
    width:100%;
}

.post .post-title {
    font-size: 36px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.post-author {
    font-size: 24px;
    font-style: italic;

}

.post {

    border-bottom: 2px solid #000;
    padding-left: 20px;
}

.post .post-title {
    font-size: 36px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.post-author {
    font-size: 24px;
    font-style: italic;

}
.preview .text-content {
    width: 50%;
}
.preview .image-content {
    width: 50%;
}

.preview .image-container {
    display: flex;
    justify-content: flex-end;
}

.preview .image-container img {
    max-height: 300px;
    height: auto;

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

}

.preview .flexbox {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.detail {
    background-color: antiquewhite;
}

.detail .flexbox {
    display: flex;
    flex-direction: column;
}
.detail .text-content {
    width: 100%;
}
.detail .image-content {
    width:100%;
    height:auto;
}
.detail .image-container {
    height:auto;
    border: none;
}
.detail .img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.site-footer {
    background-color: #000000;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-family: 'Prata', serif;
    width:100%;
    flex-shrink: 0;
    filter: blur(1px);

}
footer p {
    margin: 0;

}

.crawling-text {
    display: inline-block;
    white-space: nowrap;
    animation: crawl 10s linear infinite;
}

@keyframes crawl {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

main { 
    flex: 1;
}