<div class="post flexbox">

    {% if post.image %}
    <div class="image-content">
        <div class="image-container">
            <a href="{% url 'post-detail' post.id %}">
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
            </a>
        </div>  
    </div>
    {% endif %}

    <div class="text-content">

        <h1 class="post-title">
            {{ post.title }}
        </h1>
	{% if post.parent_post %}
    	    <p>Replying to: <a href="{% url 'post-detail' post.parent_post.id %}">{{ post.parent_post.title }}</a></p>
	{% endif %}

        <div class="post-content">
            <p>{{ post.content|linebreaksbr }}</p>
        </div>

        {% if post.author %}
            <p class="post-author">by {{ post.author }}</p>
        {% else %}
            <p class="post-author">by Anonymous {{ post.anon_uuid }}</p>
        {% endif %}

    </div>
    <div class="menu">
	    {% if not post.is_pinned %}
	    <a href="javascript:void(0);" class="toggle-link" id="toggle-link-{{post.id}}" onclick="toggleContent({{ post.id }})">Collapse</a>
	    {% endif %}
    </div> 
</div>
