{% load crispy_forms_tags %}
<div class="post flexbox">
    <div class="text-content">
        <h1 class="post-title">
            {{ post.title }}
        </h1>
        {% if post.parent_post %}
            <p>Replying to: <a href="{% url 'post-detail' post.parent_post.id %}">{{ post.parent_post.title }}</a></p>
        {% endif %}

        <div class="post-content">
            <p>{{ post.content|linebreaksbr }}</p>
        </div>
    </div>

    {% if post.media_file or post.image %}
    <div class="image-content">
        <div class="image-container" id="image-container-{{post.id}}" style="display: none;">
            {% if post.media_file and post.is_video %}
                <video controls muted autoplay playsinline>
                    <source src="{{ post.media_file.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% elif post.media_file and post.is_image %}
                <img src="{{ post.media_file.url }}" alt="{{ post.title }}" loading="lazy">
            {% elif post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}" loading="lazy">
            {% endif %}
            <a href="javascript:void(0);" class="detail-toggle-image" id="detail-
                toggle-image-{{post.id}}" data-post-id="{{post.id}}">{{post.media_file.name}}</a>
        </div>
        <div class="image-thumbnail" id="image-thumbnail-{{post.id}}" style="display: block;">
            {% if post.media_file and post.is_video %}
                <video class="image-thumbnail" controls muted autoplay playsinline>
                    <source src="{{ post.media_file.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% elif post.media_file and post.is_image %}
                <img class="image-thumbnail" src="{{ post.media_file.url }}" alt="{{ post.title }}" loading="lazy">
            {% elif post.image %}
                <img class="image-thumbnail" src="{{ post.image.url }}" alt="{{ post.title }}" loading="lazy">
            {% endif %}
            <a href="javascript:void(0);" class="detail-toggle-image" id="detail-
                toggle-image-{{post.id}}" data-post-id="{{post.id}}">{{post.media_file.name}}</a>

        </div>

    </div>
    {% endif %}

    <div class="post-meta">
        {% if post.author %}
            <p class="post-author">by {{ post.author }}</p>
        {% elif post.display_name %}
            <p class="post-author">by {{ post.display_name }}</p>
        {% else %}
            <p class="post-author">by Anonymous {{ post.anon_uuid }}</p>
        {% endif %}
        <p class="post-date">{{post.date_posted }}</p>
        
        {% if not export %}
        <div class="menu">
            <a href="javascript:void(0);" class="toggle-link" id="toggle-link-{{post.id}}">Collapse</a>
            <a href="javascript:void(0);" id="copy-link-{{post.id}}" class="share-btn copy-link">Copy Link</a>
            <span id="copy-message" style="display: none;">Link copied!</span>
        </div> 
        {% endif %}
    </div>
</div>
