<div class="post flexbox">

    {% if post.media_file or post.image %}
    <div class="image-content">
        <div class="image-container">
            {% if post.media_file and post.is_video %}
                <video controls muted autoplay playsinline>
                    <source src="{{ post.media_file.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% elif post.media_file and post.is_image %}
                <img src="{{ post.media_file.url }}" alt="{{ post.title }}" loading="lazy">
            {% elif post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}" loading="lazy">
            {% endif %}
        </div>
    </div>
    {% endif %}


    <div class="text-content">

        <h1 class="post-title">
            {{ post.title }}
        </h1>
        {% if post.parent_post %}
    	    <p>Replying to: <a href="{% url 'post-detail' post.parent_post.id %}">{{ post.parent_post.title }}</a></p>
        {% endif %}

        <div class="post-content">
            <p>{{ post.content|linebreaksbr }}</p>
        </div>

        {% if post.author %}
            <p class="post-author">by {{ post.author }}</p>
        {% elif post.display_name %}
            <p class="post-author">by {{ post.display_name }}</p>
        {% else %}
            <p class="post-author">by Anonymous {{ post.anon_uuid }}</p>
        {% endif %}


        <p class="post-date">{{post.date_posted }}</p>

    </div>
    <div class="menu">
	    {% if not post.is_pinned %}
	    <a href="javascript:void(0);" class="toggle-link" id="toggle-link-{{post.id}}" onclick="toggleContent({{ post.id }})">Collapse</a>
	    {% endif %}
    </div> 
</div>
