<!-- templates/feed.html -->
{% load static %}
{% load crispy_forms_tags %}

<div class="feed" id="feed">
    {% if home and pinned_posts %}
        <h2 class="section-header" id="recent-posts">spite issue of the week</h2>
        <div class="pinned-posts">
            {% for post in pinned_posts %}
            <div id="post-{{post.id}}" class="item">
                <div class="preview" id="post-preview-{{post.id}}">
                    {% include 'blog/preview.html' with post=post %}
                </div>
                <div class="detail" id="post-detail-{{ post.id }}" style="display: none;">
                    {% include 'blog/detail.html' with post=post nested=True %}
                </div>

                <!-- Unique Comment Section for Each Post -->
                <div id="comment-section-{{ post.id }}">
                    <button id="toggle-comments-{{ post.id }}" class="toggle-comments" data-post-id="{{ post.id }}">
                        Comments ({{ post.comments_total|default:0 }})
                    </button>
                    <div id="comments-container-{{ post.id }}" 
                        data-has-comments="{{ post.has_comments }}" 
                        class="comments-container" style="display: none;">
                        <div id="comments-list-{{ post.id }}">
                            {% for comment in post.recent_comments %}
                                <div class="comment">
                                    <strong>{{ comment.name|default:"Anonymous" }}</strong>: {{ comment.content }}
                                    <p><em>{{ comment.created_on }}</em></p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Comment Form -->
                    <form id="comment-form-{{ post.id }}" method="post" action="{% url 'add_comment' post.id %}">
                        {% csrf_token %}
                        {{ comment_form|crispy }}
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if search_form %}
    <form method="get" action="{% url 'search_results' %}">
        {% csrf_token %}
        {{ search_form|crispy }}
    </form>
    {% endif %}

    <div class="form-container">
        <p>Tired of biting your tongue? </p><br>
        {% include 'blog/post_form_stub.html' %}
    </div>

    <h2 class="section-header">recent posts</h2> 
    <div class="posts" id="post-list">
        {% if posts %} 
            {% for post in posts %} 
                {% if post.get_item_type == 'Post' %}
                    {% include 'blog/partials/post.html' with post=post %}
                {% elif post.get_item_type == 'Comment' %}
                    {% include 'blog/partials/comment.html' with comment=post %}
                {% endif %}
            {% endfor %}
        {% else %}
            <p class="oops">No one seems to have posted yet! Click below to post!</p>
        {% endif %}
    </div>

    <div class="cta">
        <div class="post-button">
            <p> --&lt <a href="{% url 'post-create' %}">Write for Spite!</a> &gt-- </p>
        </div>
    </div>

    {% if home %}
    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
</div>

<script src="{% static 'js/load_more.js' %}" defer></script>
<script>
</script>
