{% extends 'blog/spite_base.html' %}
{% load static %}

{% block spitebar %}
<div class="spite-bar">
    <p class="spite-counter">Spite Magazine & Confessions NYC present</p>
</div>
{% endblock %}


{% block header %}
    <div class="header">
        <a href="{% url 'home' %}">
            <img class="logo" src="{% static 'media/spite-reading-2.png' %}" alt="Spite Logo">
        </a>
    <p>October 13th - 185 E. Broadway </p>
    <p>Readings 8PM</p>
        <a class="email" href="mailto:editor@spite.fr">Featuring</a>
        <a href="#"></a><br>
        <a href="#">Priya Banerjee /</a>
        <a href="#">Annabel Boardman /</a>
        <a href="#">Izzy Dent</a><br>
        <a href="#">Catie Fronczak /</a>
        <a href="#">Cassidy Grady /</a>
        <a href="#">T. Sargent Moore</a><br>
        <a href="#">Zebediah Newby /</a>
        <a href="#">Peter Vack</a><br>
        <a class="email" href="mailto:editor@spite.fr">reading the writing of Spite Magazine</a>
    </div>
{% endblock %}