{% extends 'blog/spite_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load custom_filters %} 
{% block content %}
<div class="home content"> 

	<div class="cta">
        <p>Tired of biting your tongue? </p>
        <button class="post-button" id="post-button">
        <p> --&lt Write for Spite! &gt-- </p>
        </button>
    </div>

    <div class="flexbox">
        <div class="text-content">
            <h3>How Spite Started</h3>
        <div class="text-box">
                <p>In my capacity as a <b>digital visionary</b>, I was recently hired by a <b>notorious alt-lit figure</b> to help create a new <b>online periodical</b>.</p>
            </div>
            <div class="center-box">
                <em>
                Another tool to divide us. A cesspool in the guise of a sanctuary.
                </em>
            </div>
        </div>
        <div class="image-content">
            <div class="image-container">
                <div class="shadow-container">
                    <img :hover src="{% static 'media/anon.jpg' %}" alt="Alt Lit Meme Image" loading="lazy" width="200px">
                    <div class="shadow"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-4 flexbox">
        <div class="text-content">
            <h3>Fighting The System</h3>
            <div class="text-box">
                <p>Despite my misgivings <b>I worked hard</b> until this individual conspired to <b>hoard the literary clout for himself</b>. I only had one question.</p>
                <div class="center-box">
                    <h2 class="center-highlight">“HOW CAN I FIGHT BACK?”</h2>
                </div>
            </div>
        </div>
        <div class="image-content">
            <div class="image-container">
                <img :hover src="{% static 'media/spitemagazine.gif' %}" alt="Spite Meme Image" loading="lazy">
            </div>
        </div>
    </div>
    <div class="ml-4 outlined-box">
		<p>My only choice is to create my own online publication. I have playfully dubbed it <em>Spite</em>.</p>
		<p><em>Anyone can write for Spite.</em></p>
    </div>
    <div class="shop">
        {% include 'blog/products.html' %}
    </div>  
    <div id="list-submission">
        <label for="user-input">Enter a NAME onto the INTERESTING LIST</label><br>
        <input type="text" id="user-input" />
        <button onclick="saveInput()">Submit</button>
    </div>

    <!--
    {% if highlight_comments %}
    <div class="comment-highlight">
        <h2 class="section-header">recent comments</h2>
        {% for comment in highlight_comments %}
            <div class="comment">
                <strong>
                    {{ comment.name|default:"Anonymous" }}
                </strong>: {{ comment.content }}
                <p><em>{{ comment.created_on }}</em></p>
                <p>Posted on: 
                    <a href="{% url 'post-detail' comment.post.id %}">
                        {{ comment.post.title }}
                    </a>
                </p>
            </div>
        {% endfor %}
    </div>
    {% endif %}
-->

</div>
{% endblock %}

{% block highlight %}
{% endblock %}

{% block form %}
{% endblock %}

{% block feed %}
    {% include 'blog/feed.html' with home=True posts=posts%}
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/load_more.js' %}" defer></script>
{% endblock %}