{% extends 'blog/spite-base.html' %}
{% load static %}
{% block home %}
    <div class="container">
        <div class="header">
            <h1>★ S P I T E ★</h1>
            <p>In Spite of it all since 3 days ago</p>
        </div>
        <div class="text-box">
            <p>In my capacity as a <span class="highlight">digital visionary</span>, I was recently hired by a <span class="highlight">notorious alt-lit figure</span> to help create a new <span class="highlight">online periodical</span>.</p>
            <span class="highlight">Another TOOL to DIVIDE us. A CESSPOOL in the guise of a SANCTUARY.</p>
        </div>
        <div class="content">
            <div class="left-content">
		    <p>Despite my misgivings I worked hard until this individual conspired to get rid of me and hoard the literary clout for himself. I only had one question.</p>
		<div class="center-box">
		    <h2 class="center-highlight">“HOW CAN I FIGHT BACK?”</h2>
		</div>
            </div>
            <div class="image-container">
                <img src="{% static 'media/spite_meme.png' %}" alt="Spite Meme Image">
            </div>
        </div>
        <div class="outlined-box">
		<p>My only choice is to create my own online publication. I have playfully dubbed it <span class="highlight">Spite</span>.</p>
		<p><em>Join us. We’d love to have you. Anyone can write for Spite.</em></p>
        </div>
        <div class="footer">
            <p>Tired of biting your tongue? <br> Write for Spite!</p>
            <p class="email">editor@spite.fr</p>
        </div>
    </div>
{% endblock %}
