{% extends "blog/spite_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% endblock %}
{% block form %}
    <div class="form-container">
        {% include 'blog/quote.html' with post=parent_post%}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% crispy replyForm replyForm.helper %}
            {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        </form>
    </div>
{% endblock %}
{% block feed %}
{% endblock %}

