{% extends "blog/spite_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% endblock %}
{% block form %}
    <div class="form-container">
        {% include 'blog/post_form_stub.html' %}
    </div>
{% endblock %}

{% block feed %}
{% endblock %}

{% block page_scripts %}
<script>
    function disableSubmitButton() {
        var submitButton = document.getElementById('submit-id-submit');
        console.log(submitButton.value);
        submitButton.disabled = true;
        submitButton.value = 'Posting...';  // Change the button text
    }
</script>
{% endblock %}