{% extends 'blog/spite_base.html' %}

{% load static %}

{% block meta %}
    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:description" content="{{ post.content }}">
    {% if post.media_file %}
        <meta property="og:image" content="https://spite.fr/{{ post.media_file.url }}"> 
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
{% endblock %}

{% block content %}
    <div class="detail mb-3 ml-3">
        {% include 'blog/partials/post.html' with post=post nested=False %}
    </div>
{% endblock %}

{% block feed %}
{% endblock %}
