{% load custom_filters %}
<div class="post flexbox">

<div class="text-content">
    <h2 class="post-title">
        <a href="{% url 'post-detail' post.id %}">
            {{ post.title }}
        </a>
    </h2>

    {% if post.parent_post %}
        <p>Replying to: <a href="{% url 'post-detail' post.parent_post.id %}">{{ post.parent_post.title }}</a></p>
    {% endif %}

    <div class="post-content">
        {% if post.content %}
            <p>{{ post.content|truncatewords:30 }}</p>
        {% endif %}
    </div>

    
     {% if post.author %}
        <p class="post-author">by {{ post.author }}</p>
    {% elif post.display_name %}
        <p class="post-author">by {{ post.display_name }}</p>
    {% else %}
        <p class="post-author">by Anonymous {{ post.anon_uuid }}</p>
    {% endif %}
    <p class="post-date">{{post.date_posted }}</p>
    {% if post.city or post.contact %}
        <p class="post-info">
            {% if post.city %}{{ post.city }}{% endif %}
            {% if post.city and post.contact %} / {% endif %}
            {% if post.contact %}{{ post.contact }}{% endif %}
        </p>
    {% endif %}
</div>

{% if post.media_file or post.image %}
<div class="image-content">
    <div class="image-container preview-image-container" id="preview-image-container-{{post.id}}" data-post-id="{{post.id}}">
        {% if post.media_file and post.is_video %}
            <video 
                controls 
                loop 
                muted 
                playsinline
                preload="metadata"
                data-post-id="{{ post.id }}"
            >
                <source src="{{ post.media_file.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        {% elif post.media_file and post.is_image %}
            <img src="{{ post.media_file.url }}" alt="{{ post.title }}" loading="lazy">
        {% elif post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}" loading="lazy">
        {% endif %}
    </div>
</div>
{% endif %}



<!--
<button class="like-button">Like</button>
<span class="like-count">{{ post.like_count }}</span>
-->

</div>
