{% load custom_filters %}
<div class="post flexbox">

<div class="text-content">
    <h2 class="post-title">
        <a href="{% url 'post-detail' post.id %}">
            {{ post.title }}
        </a>
    </h2>

    {% if post.parent_post %}
        <p>Replying to: <a href="{% url 'post-detail' post.parent_post.id %}">{{ post.parent_post.title }}</a></p>
    {% endif %}

    <div class="post-content">
        {% if post.content %}
            <p>{{ post.content|truncatewords:30 }}</p>
        {% endif %}
    </div>

    
    <a href="javascript:void(0);" class="toggle-link" id="toggle-link-{{post.id}}" onclick="toggleContent({{ post.id }})">Expand</a>
    {% if post.author %}
        <p class="post-author">by {{ post.author }}</p>
    {% endif %}
    <p class="post-date">{{post.date_posted }}</p>
</div>

{% if post.image %}
<div class="image-content">
    <div class="image-container">
        <a href="{% url 'post-detail' post.id %}">
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
        </a>
    </div>  
</div>
{% endif %}
<!--
<button class="like-button">Like</button>
<span class="like-count">{{ post.like_count }}</span>
-->

</div>
