<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1QK6eZ0359BwcBx4s2fYqQN2"
  publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
>
</stripe-buy-button>

<stripe-buy-button
  buy-button-id="buy_btn_1QK6gF0359BwcBx4GAzrDo30"
  publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
>
</stripe-buy-button>

<stripe-buy-button
  buy-button-id="buy_btn_1QK6gs0359BwcBx4RSVNH3DH"
  publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
>
</stripe-buy-button>

<stripe-buy-button
  buy-button-id="buy_btn_1QK6ks0359BwcBx4IxeRyBXD"
  publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
>
</stripe-buy-button>
<stripe-buy-button
  buy-button-id="buy_btn_1QK6ls0359BwcBx4idlcDENR"
  publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
>
</stripe-buy-button>

