                

<script>
  const script = document.createElement("script");
  script.src = "https://js.stripe.com/v3/buy-button.js";
  script.onload = function () {
      console.log("Script loaded and ready");
      // Your code here
      scrollToElementById('post-form');
  };
  script.onerror = function () {
    console.error("Failed to load the Stripe script");
  };
  document.head.appendChild(script);  
</script>
<!--
<div id="preview-shop" style="display: hidden;">

  <stripe-buy-button
    buy-button-id="buy_btn_1QUwVz0359BwcBx4uXCSfsm7"
    publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
  >
  </stripe-buy-button>

  <stripe-buy-button
    buy-button-id="buy_btn_1QUwX50359BwcBx4ikHV88WH"
    publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
  >
  </stripe-buy-button>

  <stripe-buy-button
    buy-button-id="buy_btn_1QT9di0359BwcBx4VpfzpfnS"
    publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
  >
  </stripe-buy-button>


</div>
-->

<stripe-buy-button
  buy-button-id="buy_btn_1QUwVz0359BwcBx4uXCSfsm7"
  publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
>
</stripe-buy-button>

<stripe-buy-button
  buy-button-id="buy_btn_1QUwX50359BwcBx4ikHV88WH"
  publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
>
</stripe-buy-button>

<stripe-buy-button
  buy-button-id="buy_btn_1QT9di0359BwcBx4VpfzpfnS"
  publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
>
</stripe-buy-button>

<stripe-buy-button
  buy-button-id="buy_btn_1QT9bk0359BwcBx4PhfNSCTv"
  publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
>
</stripe-buy-button>

<stripe-buy-button
  buy-button-id="buy_btn_1QT9hu0359BwcBx4cKQHtbNE"
  publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
>
</stripe-buy-button>

<stripe-buy-button
  buy-button-id="buy_btn_1QK6eZ0359BwcBx4s2fYqQN2"
  publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
>
</stripe-buy-button>

<stripe-buy-button
  buy-button-id="buy_btn_1QK6gF0359BwcBx4GAzrDo30"
  publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
>
</stripe-buy-button>

<stripe-buy-button
  buy-button-id="buy_btn_1QK6gs0359BwcBx4RSVNH3DH"
  publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
>
</stripe-buy-button>

<stripe-buy-button
  buy-button-id="buy_btn_1QK6ks0359BwcBx4IxeRyBXD"
  publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
>
</stripe-buy-button>
<stripe-buy-button
  buy-button-id="buy_btn_1QK6ls0359BwcBx4idlcDENR"
  publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
>
</stripe-buy-button>
<a href="javascript:void(0);" class="toggle-shop" id="toggle-shop" onclick="toggleShop">Show Products</a>

