{% extends 'blog/spite_base.html' %}

{% load static %}

{% block content %}

<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1QB5JI0359BwcBx4Vf78wam7"
  publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
>
</stripe-buy-button>

<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1QB5Jb0359BwcBx45koXdS0G"
  publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
>
</stripe-buy-button>

<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1QB5KL0359BwcBx45XtNaIsF"
  publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
>
</stripe-buy-button>


<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1QB5KA0359BwcBx45T6FogOa"
  publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
>
</stripe-buy-button>

<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1QB5KY0359BwcBx45azmZ691"
  publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
>
</stripe-buy-button>

<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1QB4tB0359BwcBx4YXrSrYb7"
  publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
>
</stripe-buy-button>

<stripe-buy-button
  buy-button-id="buy_btn_1QB5Kk0359BwcBx4vyJOH6gd"
  publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
>
</stripe-buy-button>

<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1QB4sT0359BwcBx4s3OwQGCv"
  publishable-key="pk_live_51PwCWC0359BwcBx4nvSzA0gP5ejhFy34HJpbM168XGqq2xze7BuzchfqJEk6Q5JW4Yr9FCTreaDQhnu8TP7YE8uY00Ira3GqYl"
>
</stripe-buy-button>

{% endblock %}