{% load static %}
{% load pwa %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GP22W6QCYV" defer></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-GP22W6QCYV');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">">

    <meta name="theme-color" content="#000000">
    {% block meta %}
        <meta property="og:title" content="SPITE Magazine">
        <meta property="og:description" content="Anyone can write for spite">
        <meta property="og:image" content="https://spite.fr/static/media/spite-logo.webp">
    {% endblock %}

    {% block title %}
        <title>SPITE MAGAZINE</title>
    {% endblock %}
    {% block links %}
        <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=Prata&family=Princess+Sofia&display=swap" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
        <link rel="manifest" href="{% static 'manifest.json' %}">
    {% endblock %}
    {% block stylesheets %}        
        {% compress css %}
        <link rel="preload" href="{% static 'css/styles.css' %}" rel="stylesheet">
        {% endcompress %}
    {% endblock %}
    {% progressive_web_app_meta %}
</head>
<body>

{% block submission %}
<div id="modal-overlay">
    <div id="list-submission">
        <label for="user-input">Enter a NAME onto the INTERESTING LIST to continue</label><br>
        <input type="text" id="user-input" />
        <button onclick="saveInput()">Submit</button>
    </div>
</div>
{% endblock %}

{% block spitebar %}
    <div class="spite-bar">
        <a id="feed-scroller">
            <p id="spite-counter" class="spite-counter">
                <span class="spite-text">SPITE COUNTER: {{spite}}</span>
                </p>
        </a>
        <span>☆</span>
        <a class="post-link" id="post-link">
            <p>WRITE</p>
        </a>
    </div>
{% endblock %}

<div class="container" style="overflow-x: hidden;">

 
    {% block notifications %}
        <div id="new-post-notification">
            New post! (<span id="new-post-title"></span>)
        </div>
        <div id="new-comment-notification">
            New comment on <span id="new-comment-post"></span>
        </div>
        <audio id="notification-sound" src="{% static 'sounds/jinglebell-sound.mp3' %}" hidden></audio>
    {% endblock %}

    {% block header %}
        <div class="header" style="margin-top: 20px">
            <a href="{% url 'home' %}">
                <img class="logo" src="{% static 'media/spite-logo.webp' %}" alt="Spite Magazine" loading="lazy" width="450px">
            </a>
        <p>In Spite of it all since {{days_since_launch}} days ago</p>
            <a class="email" href="mailto:editor@spite.fr">editor@spite.fr</a>
        </div>
    {% endblock %}


    {% block content %}
    {% endblock %}

    {% block highlight %}
    {% endblock %}

    {% block spite %}
    {% if pageview_count %}
        <div class="spite">
            <p>Every time you post, the SPITE COUNTER goes up!</p>
            <br>
            <div style="background-color: black;">
                <br>
                <p id="spite-counter" class="spite-counter">
                    <span class="spite-text">
                        {{days_since_launch}} DAYS
                    </span>
                </p><br>
                <p id="spite-counter" class="spite-counter">
                    <span class="spite-text">
                        {{spite}} POSTS
                    </span>
                </p><br>
                <p id="spite-counter" class="spite-counter">
                    <span class="spite-text">
                        {{pageview_count}} PAGE HITS
                    </span>
                </p><br>

            </div>
        </div>
    {% endif %}
    {% endblock %}

    {% block form %}
    {% endblock %}
    
    {% block feed %}
    {% endblock %}

    <footer class="site-footer">
        <div class="crawling-text">
            <p>© 2024 Spite. A So Trusted Network Solution with Deepfake FaceTime in a Teacher Girlfriend Production. All spite reserved.</p>
        </div>
    </footer>


    {% block scripts %}
    <!-- 
    <script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker
            .register('/serviceworker.js')
            .then(function(registration) {
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
            })
            .catch(function(err) {
                console.log('ServiceWorker registration failed: ', err);
            });
    }

    </script>
Register the service worker -->

        {% compress js %}
            <script src="{% static 'js/utility_functions.js' %}" defer></script>
            <script defer>
            document.addEventListener('DOMContentLoaded', function() {
                // Function to get CSRF token from cookies



                refreshCSRFToken();
                attachEventListeners();
                attachCopyLinks();

                showModalIfNeeded();

            });
            </script>

            <script src="{% static 'js/ajax_posts.js' %}" defer></script>
            <script src="{% static 'js/websocket_updates.js' %}" defer></script>
            <script src="{% static 'js/snowfall.js' %}" defer></script>
        {% endcompress %}
    {% endblock %}

    {% block page_scripts %} 

    {% endblock %}
</div>
</body>
</html>
